{% extends "index.html" %}


{% block content %}
<h1>Запрос</h1>
     <form method="post">
        <label for="asin">ASIN:</label>
        <input type="text" id="asin" name="asin" required class="short-input">

        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" required class="short-input">

        <label for="tableSelect">Выберите таблицу:</label>
        <select id="tableSelect" name="tableSelect" required class="short-select">
            <option value="" disabled selected>-- Выберите таблицу --</option>
            <option value="public.pets_directory_amazon">Pets directory</option>
            <option value="public.cosmetics_directory_amazon">Cosmetics directory</option>
            <option value="public.supplements_directory_amazon">Supplements directory</option>
        </select>

        <div class="button-container">
            <button type="submit">Отправить</button>
        </div>
    </form>


    {% if list_items %}
        <table>
            <thead>
                <tr>
                    <th>Индекс</th>
                    <th>Значение</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in list_items.items() %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ row[0] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}