<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test_TB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='logo.avif') }}" alt="Логотип" style="width: 150px;">

    <form method="post">
        <input type="text" name='name' placeholder="Введите имя" required>
        <button type="submit">Добавить</button>
    </form>

    {% if context.name %}
    <table>
        <thead>
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in context.df.iterrows() %}
            <tr>
                <td>{{ row['Имя'] }}</td>
                <td>{{ row['Возраст'] }}</td>
                <td>{{ row['Город'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</body>
</html>
